<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Словарь Ингушского Языка</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-100 font-sans antialiased">

<div class="container mx-auto my-8 p-6 bg-white rounded-lg shadow-lg">

  <header class="mb-6">
    <h1 class="text-4xl text-center text-gray-800 font-bold mb-4"><%= t("search.translation") %></h1>
  </header>

  <div data-controller="language-toggle">
    <%= form_tag(search_words_path, method: :get, id: "language_form", class: "mb-6") do %>
      <div class="flex flex-col md:flex-row items-center gap-4">
        <%= text_field_tag :q, params[:q], placeholder: "Поиск слов или перевода", class: "form-input mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>

        <%= hidden_field_tag :language, params[:language] || 'ingush', data: { language_toggle_target: 'languageField' } %>

        <button type="button" data-action="click->language-toggle#toggleLanguage" data-language-toggle-target="languageButton" class="px-4 py-2 bg-blue-500 text-white font-medium rounded-md hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition duration-150 ease-in-out">
          <span data-language-toggle-target="languageButton">Ингушский</span>
        </button>

        <button type="submit" class="px-4 py-2 bg-green-500 text-white font-medium rounded-md hover:bg-green-600 focus:outline-none focus:border-green-700 focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out">
          Поиск
        </button>
      </div>
    <% end %>

    <div class="results mt-6">
      <%= render partial: 'shared/words_results', locals: { words_results: words_results, pagy: pagy } %>
    </div>
  </div>

</div>

<div class="fixed top-0 right-0 m-4">
  <%= render partial: 'shared/authentication_navbar' %>
</div>

</body>
</html>
