<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Заголовок вашей страницы</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
  <h1><%= t("search.translation") %></h1>
</header>

<main>
  <div data-controller="language-toggle">
    <%= form_tag(search_words_path, method: :get, id: "language_form") do %>
      <label for="q"><%= t("search.label_tag") %></label>
      <%= text_field_tag :q, params[:q], placeholder: "Найти слово или перевод" %>

      <%= hidden_field_tag :language, params[:language] || 'ingush', data: { language_toggle_target: 'languageField' } %>

      <%= submit_tag t("search.search") %>
    <% end %>

    <button data-action="click->language-toggle#toggleLanguage" data-language-toggle-target="languageButton">
      Toggle Language
    </button>

    <div class="results">
      <%= render partial: 'shared/words_results', locals: { words_results: words_results, pagy: pagy } %>
    </div>
  </div>
</main>

</body>
</html>
